<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>San Diego Pothole Analysis</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">SDC-PA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/project">Project</a>
                <a class="dropdown-item" href="/">Map</a>
                <a class="dropdown-item" href="/stats">Statistics</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" href="/contact">Contact</a>-->
            </li>
          </ul>
        </div>
      </nav>

      <div class="pt-5">
        <h3>San Diego City - Pothole Analysis:</h3>
      </div>

      <p><h2>Premise:</h2>
In 2015 the City of San Diego (the City) began a concerted effort to repave and repair streets that had been neglected for decades. Potholes are reported at a near-steady state during dry weather, but pothole reports will increase during the rainy season or years when there is above average precipitation.
<h2>Goal:</h2>
Discover correlations (if any) between weather and pothole formation.<br>
Determine whether the City is seeing an annual decrease in pothole reports.<br>
Use this information to:<br>
	&nbsp;&nbsp;&nbsp;- Improve road repair crew scheduling<br>
	&nbsp;&nbsp;&nbsp;- Target historically problematic roads in the City<br>
	&nbsp;&nbsp;&nbsp;- Set future budgets for road repair<p>
<h2>Background:</h2>
In 2015, Mayor Faulconer initiated a program to accelerate the repaving of streets or the repair of potholes, without raising taxes to do so.  In 2016 the City began using their “Get it Done (GID) website to track pothole reports.
Using data collected by GID we were able to identify the report date, fix/closure date and location of every pothole reported to the City.  GID allows the reporting party to locate the pothole by using location data on the party’s phone or tablet, or if using a non-GPS enabled device (a laptop or desktop computer) by dragging a marker to the approximate point on a map.  The lat/long data can contain up to 6 digits after the decimal point, which is extremely accurate.  In reality it is much more precise than a consumer-grade GPS (7-13M)  can provide, not to mention accounting for the positional offset of the device in relation to the pothole. As a result, there is a significant chance that many of the reports are duplicates, but determining how many, and which, is beyond the scope of this project.
San Diego’s Mediterranean climate is split between a dry season that generally runs between April and October, and a wet season that runs between November and March.  For official records, the water year begins on October 1st and ends on September 30th of the following year.  The official rainfall for the county is measured at San Diego International Airport and has averaged just over 10” for the last 20 years.
<p><br>The complete report may be read here <a href="{{ url_for('static', filename='Files/SDPotholes.pdf') }}"San Diego Potholes.pdf</a>

    </div>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>
